body {
}



/* 隐藏 Craft 图标链接 */
div#topContainer .right-area .separator {
    display: none !important;
}
div#topContainer .right-area a[href*="craft.do"] {
    display: none !important;
}

/*隐藏侧栏 Craft 图标链接*/
div.isOpen a.group {
    display: none !important;
}

div.isOpen {
    margin-top: 70px;
}



div:has(> div > #pageOverlayAccessory) {
    max-width: 1000px;
}
/* 只在桌面设备应用这些样式 */
@media (min-width: 768px) {
    div:has(>#pageOverlayAccessory) {
        margin-top: 10px;
    }
    div#topContainer {
        visibility: collapse;
    }

        div#topContainer * {
            color: white;
            justify-self: end;
            top: 6px;
        }

    #topContainer button {
        visibility: visible;
        right: -220px;
    }

    div#topContainer .right-area {
        background-color: #3CB371;
        visibility: visible;
        right: 240px;
        top: 0;
        position: absolute;
    }

        div#topContainer .right-area > button:first-child {
            display: none !important;
        }

}
/* 只在移动设备应用这些样式 */
@media (max-width: 768px) {
    div#topContainer {
        margin-top:70px;
    }
    div:has(>#pageOverlayAccessory) {
        margin-top: 50px;
    }
}

/*文章跳转loading*/
.loading-animation-container {
    background-color: #E1F0E8;
    background-image: url(/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
}

    .loading-animation-container div {
        display: none;
    }

/*标题样式-开始*/
.lake-content h2,
.lake-content h3 {
    position: relative;
}

    .lake-content h2:after,
    .lake-content h3:after {
        content: "";
        display: block;
        position: absolute;
        background: #109d58;
        opacity: 0.25;
        pointer-events: none;
        border-radius: 15px;
        left: -2px;
        bottom: 0px;
    }


    .lake-content h2:after {
        width: 40px;
        height: 11px;
    }

    .lake-content h3:after {
        width: 30px;
        height: 9px;
    }

    .lake-content h2.text-center:after,
    .lake-content h2[style*="text-align: center"]:after,
    .lake-content h2[style*="text-align:center"]:after,
    .lake-content h2[class*="text-align-center"]:after,
    .lake-content h3.text-center:after,
    .lake-content h3[style*="text-align: center"]:after,
    .lake-content h3[style*="text-align:center"]:after,
    .lake-content h3[class*="text-align-center"]:after {
        left: 50%;
        transform: translateX(-50%);
    }

    .lake-content h2.text-right:after,
    .lake-content h2[style*="text-align: right"]:after,
    .lake-content h2[style*="text-align:right"]:after,
    .lake-content h2[class*="text-align-right"]:after,
    .lake-content h3.text-right:after,
    .lake-content h3[style*="text-align: right"]:after,
    .lake-content h3[style*="text-align:right"]:after,
    .lake-content h3[class*="text-align-right"]:after {
        left: unset;
        right: -2px;
    }



/*  //标题*/
.lake-content div[id^="header-"] {
    text-align: center;
}

    .lake-content div[id^="header-"] h1 {
        font-size: xx-large;
        color: #109d58;
        font-weight: bolder;
    }

        .lake-content div[id^="header-"] h1:after {
            background: initial;
        }
/*标题样式-结束*/

@media only screen and (max-width:768px) {
    .lake-columns {
        display: block !important
    }

    .lake-column-item {
        margin-right: 0 !important
    }
}


/*dark mode*/
html[style*="color-scheme: dark"] div:has([data-page-section="page-body"]) {
    background-color: #2e2e2e;
}


html[style*="color-scheme: dark"] [data-page-section="page-body"] p,
html[style*="color-scheme: dark"] [data-page-section="page-body"] h2,
html[style*="color-scheme: dark"] [data-page-section="page-body"] h3 {
    color: #e0e0e0;
}
/*dark mode end*/
